<h1>About</h1>
<p><small>
Tweetter is a Twitter clone build for learning Ruby on Rails.<br/>
Thanks to <a href="http://www.michaelhartl.com/" target="_black">Michael Hartl</a> for his amazing <a href="https://www.railstutorial.org/" target="_blank">Ruby on Rails Tutorial</a>.
<br/>
Build with Ruby 2.1.5 and Rails 4.2.0.
<br/>
Source:
<a href="https://github.com/sachin1092/Twitter-Clone" target="_blank">https://github.com/sachin1092/Twitter-Clone</a>
</small>
</p>
