body {
	background: #D6EEF8;
}
header img {
	padding: 1em;
}
/*section {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #fff;
}
section h1 {
	font-size: 200%;
}*/
/* Links */
/*a {*/
	/*color: #09c;*/
	/*text-decoration: none;*/
/*}*/
/*a:hover {*/
	/*color: #069;*/
	/*text-decoration: underline;*/
/*}*/
/*a:visited {*/
	/*color: #069;*/
/*}*/



/* Sign up button */
/*a.signup_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 190px;
	color: #fff;
	background: #5BC0DE;
	font-size: 150%;
	font-weight: bold;
	padding: 20px;
	border-radius: 3px;
	text-decoration: none;
}*/

footer {
	text-align: center;
	margin-top: 10px;
	width: inherit;
	margin-left: auto;
	margin-right: auto;
}
footer nav {
	float: left;
}

footer nav ul{
	list-style: none;
}

.btn-mstyle{
	padding: 5px;
	margin: 0px;
}

/* User show page */
table.profile {
	width: 100% !important;
	margin-bottom: 0;
}
td.main {

	padding: 1em;
}

td.sidebar {
	width: 18%;
	padding: 1em;
}
.profile img.gravatar {
	border: 1px solid #999;
}

.sidebar strong{
	font-weight: bolder;
	font-size: 110%;
}

.form-horizontal{
	width: 50%;
}

.field_with_errors .form-control-wrapper input {
	border-color: #F44336;
	border-width: 2px;
}

#error_explanation {
	width: 70%;
	border: 2px solid #F44336;
	padding: 10px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #F44336;
}
#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 15px;
	margin: -7px;
	color: #fff;
}
#error_explanation p {
	color: #fff;
	margin-bottom: 0;
	padding: 5px;
}
#error_explanation ul li {
	font-size: 12px;
	list-style: square;
	color: #fff;
}

.control-label{
	margin-top: 5px;
	margin-bottom: 0px;
}

.form-group {
	padding: 2%;
}

.psignup{
	margin-bottom:-20px !important; 
	text-align:end;
}

ul.users {
	margin-top: 1em;
}
.users li {
	list-style: none;
}

.mdelete-btn {
	font-size: 20pt;
	text-decoration: none;
	color:darkgray;
	vertical-align: text-bottom;
}

.mdelete-btn:hover {
	color: #f44336;
	text-decoration: none;
}

.post-delete-btn {
	font-size: 20pt;
	text-decoration: none;
	color:white;
	vertical-align: text-bottom;
}

.post-delete-btn:hover {
	color: #f44336;
	text-decoration: none;
}

h1.micropost {
	margin-bottom: 0.3em;
}

.bigpic {
	height: 100px !important; 
	width:100px !important;
}

table.microposts {
	margin-top: 1em;
	width:100% !important;
}

table.microposts tr {
height: 70px;
}
table.microposts tr td.gravatar {
border-top: 1px solid #ccc;
vertical-align: top;
width: 50px;
}
table.microposts tr td.micropost {
border-top: 1px solid #ccc;
vertical-align: top;
padding-top: 10px;
}

table.microposts tr td.micropost .content, table.microposts tr td.micropost .timestamp{
	margin-left: 2%;
}

table.microposts tr td.micropost span.timestamp {
display: block;
font-size: 85%;
color: lightgray;
font-style: italic;
margin-top: 10px;
}
div.user_info img {
padding-right: 0.1em;
}
div.user_info a {
text-decoration: none;
}
div.user_info span.user_name {
position: absolute;
}
div.user_info span.microposts {
font-size: 80%;
}
form.new_micropost {
margin-bottom: 2em;
}
form.new_micropost textarea {
height: 4em;
margin-bottom: 0;
}

.micropostjumbo {
	background-color: #6B9FF5 !important;
	color: #fff;
}

.micropostjumbo h1{
	color: #fff;
	margin-bottom: 5%;
}

.btn-unfollow:hover {
	content:"Unfollow";
	background-color: #000000;
}

.stat {
	text-align: center;
	display: block;
}

.user-title a{
	color: #292F33;
}

.sidebar {
	vertical-align: top;
}

.info-heading {
	padding: 2%;
	background-color: #ECECEC;
}

.info-body {
	padding: 2%;
}
/*
.panel-back {
	padding-left: initial;
	padding-right: initial;
}*/