<header>
	<div class="navbar navbar-default">
		<div class="navbar-header">
			<%= image_tag("logo.png", :alt => "TWEETTER", :class => "navbar-brand mnavbar-brand") %>
		</div>
		<div class="navbar-collapse collapse navbar-inverse-collapse">

			<ul class="nav navbar-nav navbar-right">
	            <li class="active"><a href="javascript:void(0)">Home</a>
	            </li>
	            <li><a href="javascript:void(0)">Help</a>
	            </li>
	            <li><a href="javascript:void(0)">Sign in</a>
	            </li>
			</ul>
		</div>
	</div>
</header>	